button {
  cursor: pointer;
}
ul {
  list-style: none;
  padding-left: 0;
}

.checkbox-wrap {
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.search-fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.search-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 20px;
  color: #2e2f42;
  padding: 2px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  display: inline-block;
  margin-right: 20px;
}
.search-input:hover {
  border-color: #000;
}

.search-input:active {
  border: 1px solid #808080;
}
.btn {
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.span {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 100px;
  height: 40px;
  background: #4e75ff;
  margin-top: 16px;
  font-weight: 500;
  color: #fff;
}

.button:hover {
  background: #6c8cff;
}
.loadMoreBtn {
  display: none;
  margin: 0 auto;
  width: 160px;
  height: 40px;
}
.search-list {
  margin-top: 50px;
}
